<div class="flex flex-col animate-pulse">
    <div class="overflow-x-auto pb-4">
        <div class="block">
            <div class="overflow-x-auto w-full border rounded-lg border-gray-300">
                <table class="w-full rounded-xl">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize">
                                <div class="h-4 bg-gray-200 rounded w-4"></div>
                            </th>
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize">
                                <div class="h-4 bg-gray-200 rounded w-24"></div>
                            </th>
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize">
                                <div class="h-4 bg-gray-200 rounded w-24"></div>
                            </th>
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </th>
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize min-w-[150px]">
                                <div class="h-4 bg-gray-200 rounded w-24"></div>
                            </th>
                            <th scope="col"
                                class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize min-w-[150px]">
                                <div class="h-4 bg-gray-200 rounded w-24"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300">
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="w-48 flex items-center gap-3">
                                    <div class="w-10 h-10 bg-gray-200 rounded-md"></div>
                                    <div class="h-4 bg-gray-200 rounded w-24"></div>
                                </div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="p-5">
                                <div class="flex items-center gap-2">
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="w-48 flex items-center gap-3">
                                    <div class="w-10 h-10 bg-gray-200 rounded-md"></div>
                                    <div class="h-4 bg-gray-200 rounded w-24"></div>
                                </div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="p-5">
                                <div class="flex items-center gap-2">
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="w-48 flex items-center gap-3">
                                    <div class="w-10 h-10 bg-gray-200 rounded-md"></div>
                                    <div class="h-4 bg-gray-200 rounded w-24"></div>
                                </div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="p-5">
                                <div class="flex items-center gap-2">
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="w-48 flex items-center gap-3">
                                    <div class="w-10 h-10 bg-gray-200 rounded-md"></div>
                                    <div class="h-4 bg-gray-200 rounded w-24"></div>
                                </div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="p-5">
                                <div class="flex items-center gap-2">
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="w-48 flex items-center gap-3">
                                    <div class="w-10 h-10 bg-gray-200 rounded-md"></div>
                                    <div class="h-4 bg-gray-200 rounded w-24"></div>
                                </div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="px-5 py-3">
                                <div class="h-4 bg-gray-200 rounded w-36"></div>
                            </td>
                            <td class="p-5">
                                <div class="h-6 bg-gray-200 rounded"></div>
                            </td>
                            <td class="p-5">
                                <div class="flex items-center gap-2">
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                    <div class="h-8 w-8 bg-gray-200 rounded-full"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>