<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
    <footer class="w-full bg-white border-t border-gray-200 sticky -bottom-8 left-0 z-20">
        <div class="mx-auto max-w-7xl">
            <!-- Grid -->
            <div class="block py-5">
                <div class="flex items-center justify-center flex-col">
                    <span class="text-sm text-gray-500">© Desarrollado por
                        <a href="https://portafolio-anthony-avellaneda.vercel.app/" target="_blank" class="text-gray-500 hover:text-gray-800 transition duration-300"> Anthony AP</a>
                        - {{ currentYear }}. Todos los derechos reservados.
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>